{% extends 'base.html' %}
{% load static %}
{% load markdown_extras %}

{% block title %}Research Group - Home{% endblock %}

{% block extra_css %}
<link href="{% static 'css/banner.css' %}" rel="stylesheet">
{% endblock %}

{% block content_full_width %}
<div class="full-width-banner">
    {% include 'core/partials/home_hero.html' %}
</div>

<main class="container py-4">
  <div class="row align-items-start">
    <div class="col-md-7">
      {% if home_content.markdown_content %}
        <div class="markdown-content">
          {{ home_content.markdown_content|markdown2safe }}
        </div>
      {% endif %}
    </div>
    <div class="col-md-5">
      {% if home_content.youtube_video_url %}
        <div class="ratio ratio-16x9 mb-2">
          <iframe width="560" height="315" src="{{ home_content.youtube_video_url }}" title="YouTube video player" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="text-center text-muted" style="font-size: 0.95em;">Introduction to CyPhy Life</div>
      {% endif %}
    </div>
  </div>
</main>

<main class="container secondary-section text-light">
  <div class="row align-items-start">
    <div class="col-md-7">
      {% if home_content.section_markdown_content %}
        <div class="markdown-content">
          {{ home_content.section_markdown_content|markdown2safe }}
        </div>
      {% endif %}
    </div>

    <div class="col-md-5 d-flex justify-content-center align-items-center">
      {% if home_content.section_image %}
        <img src="{{ home_content.section_image.url }}" alt="Section image" class="img-fluid rounded shadow" />
      {% endif %}
    </div>

  </div>

</main>
{% endblock %} 